@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 131, 10%, 21%;
    --btn-background: 358, 79%, 28%;
    --btn-background-hover: 68, 24%, 35%;
    --foreground: 18, 46%, 52%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
